<div class="container" fxLayout="column">
  <p>This web site is made by KUSHAL OMER. By using it we are trying to incrage the people to start writing different stories, poems and compositions. These things provide different views of people and also their knowledge. As in the coming period of time, there will be only thing most important for the world that is knowledge.</p>
  <p>We have started this web site to provide knowledge, to entertain and to realise that world is much more historical, misterious and beautiful than the people usually think. Through this web site we made the people write more and more about their thoughts and imaginations.</p>
  <div style="margin: 0 200px 0 50px;">
  <mat-card>
    <mat-card-content>There is no wealth like <strong>knowledge</strong> and no poverty like ignorance.</mat-card-content>
    <mat-card-footer> ~Lord Budha</mat-card-footer>
  </mat-card>
  </div>
  <p>We also tryed to help the writers to publish their writing piece easily. Rather than that of paying much amount to a publisher they can upload their stories, poems and compositions on this web site without paying much money. It has also increased the easiness for the publisher rather than waiting for a writing piece or for an article, they can visit our website and can buy the articles for their publications.</p>
  <p>The person who has uploaded his/her writing piece will get money for that article.</p>
</div>
